npm-debug.log
node_modules
typings

ion-alpha-scroll.d.ts
ion-alpha-scroll.js
ion-alpha-scroll.js.map

index.js
index.js.map
index.d.ts

module.js
module.js.map
module.d.ts

*.spec.js
*.spec.js.map
*.spec.d.ts

# ngc
/compiled
*.metadata.json