npm-debug.log
node_modules
typings

ion-alpha-scroll.d.ts
ion-alpha-scroll.js
ion-alpha-scroll.js.map

index.js
index.js.map
index.d.ts

module.js
module.js.map
module.d.ts

map-to-iterable.js
map-to-iterable.js.map
map-to-iterable.d.ts

util-module.js
util-module.js.map
util-module.d.ts

*.spec.js
*.spec.js.map
*.spec.d.ts

# ngc
/compiled
*.metadata.json
